.table-container {
    overflow-y: auto;
}

table {
    width: 100%;
    padding-bottom: 10px;
}

thead {
    background: #194d7e;
}

th {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

td {
    font-size: 18px;
}

tr:nth-child(even) {
    background: #5D8AA8;
    color: white !important;
 
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}