
<nav>
    <ul>
        <li>
          <b><%= link_to "Songs", songs_path%></b>
        </li>

        <li>
          <b><%= link_to "Playlist", playlists_path%></b>
        </li>

        <li>
          <b>Sign Out</b>
        </li>
    </ul>
</nav>
